body {
    background: darkred;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    display: flex;
    flex-direction: column;
    background: #000;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-top {
            width: 50%;

            input {
                width: 100%;
                padding: 1rem;
            }
        }
    }
}

nav {

    ul {
        background: darkgreen;
        display: flex;
      //  justify-content: space-between;
        padding: 0;

        li {
            list-style-type: none;
            margin: 0 .2rem;

            a {
                font-size: 1.2rem;
                text-decoration: none;
                padding: .6rem 2rem;
                background: red;
                display: inline-block;
                color: #fff;
            }
        }
    }
}

.container {
    display: flex;
    min-height: 80vh;
    background: aquamarine;
    
    .col {
        flex: 1;
    }
}

.sidebar {
    background: saddlebrown;
    width: 12vw;
    background: violet;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            a {
                font-size: 1rem;
                display: block;
                text-decoration: none;
                border-bottom: 1px solid red;
                padding: .6rem;
                background: saddlebrown;
                color: #fff;

                &:hover {
                    background: salmon;
                }
            }
        }
    }
}

main {
    padding: 1rem;
    width: 100%;
}

.previews {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    margin: 1rem;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

    .card-img {
        background: #333;
    }

    .card-body {
        padding: 0.4rem;

        .title-preview {

        }

        .nb-views-preview {
            font-size: 0.8rem;
        }
    }

    &.preview {

        width: 12vw;

        img {
            width: 100%;
        }
    }
}

.tags {
    margin: 1rem 0;

    .tag {
        background: teal;
        padding: .4rem;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        font-size: 0.9rem;

        &:hover {
            background: aqua;
        }
    }
}

.recommends {

    .recommend {
        display: flex;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(#333, 0.4);

        .thumbs {
            min-width: 30%;
        }
    }
}


