body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #242424; }

header {
  display: flex;
  flex-direction: column;
  background: #242424; }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-top .form-top {
      width: 50%; }
      header .header-top .form-top input {
        width: 100%;
        padding: 1rem;
        border-radius: 0.4rem;
        border: 1px solid transparent; }

nav ul {
  background: darkgreen;
  display: flex;
  padding: 0; }
  nav ul li {
    list-style-type: none;
    margin: 0 .2rem; }
    nav ul li a {
      font-size: 1.2rem;
      text-decoration: none;
      padding: .6rem 2rem;
      background: red;
      display: inline-block;
      color: #fff; }

.container {
  display: flex;
  min-height: 80vh; }
  .container .col {
    flex: 1; }

.sidebar {
  background: #222;
  width: 12vw; }
  .sidebar ul {
    margin: 0;
    padding: 0; }
    .sidebar ul li {
      list-style-type: none; }
      .sidebar ul li a {
        font-size: 1rem;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #000;
        padding: .6rem;
        background: #222;
        color: #fff; }
        .sidebar ul li a:hover {
          background: salmon; }

main {
  padding: 1rem;
  width: 100%; }

.previews {
  display: flex;
  flex-wrap: wrap; }

.card {
  background: #fff;
  margin: 1rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75); }
  .card .card-img {
    background: #333; }
  .card .card-header {
    padding: 0.4rem;
    background: rgba(153, 153, 153, 0.2); }
  .card .card-body {
    padding: 0.4rem; }
    .card .card-body .nb-views-preview {
      font-size: 0.8rem; }
  .card.preview {
    width: 12vw; }
    .card.preview img {
      width: 100%; }
  .card.central-form {
    margin: 2rem auto;
    width: 50vw; }

.tags {
  margin: 1rem 0; }
  .tags .tag {
    background: teal;
    padding: .4rem;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem; }
    .tags .tag:hover {
      background: aqua; }

.recommends .recommend {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.4); }
  .recommends .recommend .thumbs {
    min-width: 30%; }

.pagination-wrapper {
  display: flex; }
  .pagination-wrapper .pagination {
    background: #333333;
    padding: 1rem;
    color: #fff;
    text-decoration: none; }
    .pagination-wrapper .pagination.active {
      background: #444; }
    .pagination-wrapper .pagination:hover {
      background: #777; }

/**
    Form
 */
form .form-group {
  margin-bottom: 1rem;
  display: flex; }

form label {
  font-weight: bold;
  min-width: 15%; }

form input {
  display: inline-block;
  width: 100%;
  padding: 0.4rem; }

/**
    Buttons
 */
button, .button {
  background: #fff;
  border: 1px solid #222;
  padding: 0.4rem 0.8rem; }
  button.blue, .button.blue {
    background: blue;
    color: #fff; }
